.hidden-element {
  opacity: 0;
  display: block;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.menu-box:hover .hidden-element {
  visibility: visible;
  opacity: 1;
}
