@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  body {
    @apply dark:bg-[#121212] bg-[#FFEEE8];
    width: 100vw;
    height: 100vh;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.socialsBack {
  background-image: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Azir_5.jpg");
  object-fit: fill;
  background-position: top;
  background-size: cover;
}

.classicBack {
  background-image: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_0.jpg");
  object-fit: fill;
  background-position: top;
  background-size: cover;
}

.classicBackRush {
  background-image: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_1.jpg");
  object-fit: fill;
  background-position: center;
  background-size: cover;
}

.abilityBack {
  background-image: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Ahri_2.jpg");
  object-fit: fill;
  background-position: right;
  background-size: cover;
}

.abilityBackRush {
  background-image: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Morgana_3.jpg");
  object-fit: cover;
  background-size: cover;
}

.playersBack {
  background-image: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Leblanc_4.jpg");
  object-fit: cover;
  background-position: right;
  background-size: cover;
}

.playersBackRush {
  background-image: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Ryze_6.jpg");
  object-fit: cover;
  background-position: center;
  background-size: cover;
}

.quoteBack {
  background-image: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Rammus_0.jpg");
  object-fit: fill;
  background-position: right;
  background-size: cover;
}

.quoteBackRush {
  background-image: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Rammus_8.jpg");
  object-fit: cover;
  background-size: cover;
}

.emojiBack {
  background-image: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Xayah_2.jpg");
  object-fit: fill;
  background-position: center;
  background-size: cover;
}

.emojiBackRush {
  background-image: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Lucian_1.jpg");
  object-fit: fill;
  background-position: right;
  background-size: cover;
}

.splashBack {
  background-image: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Fizz_3.jpg");
  object-fit: fill;
  background-position: right;
  background-size: cover;
}

.splashBackRush {
  background-image: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Thresh_3.jpg");
  object-fit: fill;
  background-position: center;
  background-size: cover;
}

.scaled {
  transform: scale(4);
}

.menu-box:hover {
  border-color: #303030;
  color: white;
}
